<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <title>Document</title>
    <style>
        body {
            font-family: Arial;
        }

        /* Style the tab */
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 10px 100px;
            transition: 0.3s;
            font-size: 24px;
            width: 100%;
            font-weight: bold;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }

        #componentList li {
            width: 250px;
            background-color: blanchedalmond;
            border: 2px solid indianred;
            height: 30px;
            padding-top: 5px;
            margin: 10px 0px;
        }

        .collapsible {
            background-color: #777;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

        .active,
        .collapsible:hover {
            background-color: #555;
        }

        .collapsible:after {
            content: '\002B';
            color: white;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

        .active:after {
            content: "\2212";
        }

        .content {
            padding: 0 18px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: #f1f1f1;
        }

        h1 {
            background: bisque;
            margin-top: 0px;
            padding-bottom: 1px;
            text-align: center;
            padding-top: 10px;
            border: 1px solid #cccccc;
        }

        li span {
            background-color: bisque;
            padding: 6px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .contentScenario {
            width: 100%;
            min-height: 600px;
            max-height: fit-content;
            background-color: black;
        }

        .contentScenario label {
            color: #f5a339;
            font-size: 20px;
        }

        .contentScenario span {
            color: white;
            font-size: 18px;
        }

        .back {
            background-color: #b91010;
            height: 28px;
            border-color: #b91010;
            border-radius: 2px;
            float: right;
            margin-right: 10px;
            color: white;
            font-size: 14px;
        }

        #scenario_div span {
            white-space: break-spaces;
        }

        li span:hover {
            background-color: #555;
            color: white;
        }

        #loading {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9999;
            display: none;
        }

        #loading:after {
            content: "";
            display: block;
            width: 50px;
            height: 50px;
            margin: auto;
            border-radius: 50%;
            border: 5px solid #f3f3f3;
            border-top-color: #3498db;
            animation: spin 1s infinite ease-in-out;
            position: absolute;
            top: 50%;
            left: 50%;
        }

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>
    <div style="width: auto;">
        <div style="width: 50%;float: left;">
            <h1>View script</h1>
            <button onclick="back()" class="back">Backtolist</button><br><br>
            <div class="leftPage" style="width: 100%;">
                <button class="collapsible">Item</button>
                <div class="content">
                    <ul style="list-style-type: none;text-shadow: 0 0.3px 0 black;">
                        {% for data in listdata %}
                        {%if data.isFlow == '0'%}
                        <li>
                            <span onclick="viewDetailscenario({{data.id}})" style="display: inline-block;
                                width: 90%;">
                                {{data.scenario}}
                            </span>
                            <button onclick="runScript({{data.idScenario}},'{{script[0].name}}','{{script[0].id}}')"
                                class="back">
                                Run
                            </button>
                        </li>
                        {%endif%}
                        {%endfor%}
                    </ul>
                </div>
                <button class="collapsible">Flow</button>
                <div class="content">
                    <ul style="list-style-type: none;text-shadow: 0 0.3px 0 black;">
                        {% for data in listdata %}
                        {%if data.isFlow == '1'%}
                        <li>
                            <span onclick="viewDetailscenario({{data.id}})" style="display: inline-block;
                                width: 90%;">
                                {{data.scenario}}
                            </span>
                            <button onclick="runScript({{data.idScenario}},'{{script[0].name}}','{{script[0].id}}')"
                                class="back">
                                Run
                            </button>
                        </li>
                        {%endif%}
                        {%endfor%}
                    </ul>
                </div>
            </div>
        </div>
        <div style="width: 50%;float: right;">
            <div class="tab">
                <button class="tablinks">Detail script</button>
            </div>
            <div class="contentScenario" style="width: 100%;line-height: 30px;">
                <img onclick="edit_scenario(this)" class="icon_edit" id="" style="width: 4%;
                float: right;
                padding-right: 10px;
                padding-top: 10px;display: none;" src="https://cdn-icons-png.flaticon.com/512/2921/2921222.png" alt="">
                <input type="hidden" id="id_scenario">
                <div style="display: none;padding: 20px;" id="scenario_div">
                    <span id="script"></span>
                </div>
            </div>
        </div>
    </div>
    <div id="loading"></div>
    <script>
        const loading = document.getElementById('loading');

        function showLoading() {
        loading.style.display = 'block';
        }

        function hideLoading() {
        loading.style.display = 'none';
        }
        function back() {
            window.location.href = "/list-script"
        };
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }

        function runScript(idScriptDetail, name, idScript) {
            showLoading();
            fetch(`/run-script?idScript=${idScript}&name=${name}&idScriptDetail=${idScriptDetail}`, {
                method: 'GET'
            })
                .then(response => response.json())
                .then(data => {
                    hideLoading();
                    alert(data);
                })
                .catch(error => hideLoading());
        }

        function viewDetailscenario(id) {
            {% for data in listdata %}
            if (id == {{ data.id }}) {
            document.getElementById('script').textContent = `{{data.content|safe}}`
            document.getElementById('scenario_div').style.display = 'block'
            const text = document.getElementById('script')
            var newText = text.innerHTML.replaceAll('from', "<span style='color:#bf307d'>from</span>")
            newText = newText.replaceAll('import', "<span style='color:#bf307d'>import</span>")
            newText = newText.replaceAll('@given', "<span style='color:#e5e571'>@given</span>")
            newText = newText.replaceAll('@when', "<span style='color:#e5e571'>@when</span>")
            newText = newText.replaceAll('@then', "<span style='color:#e5e571'>@then</span>")
            newText = newText.replaceAll('def', "<span style='color:#3a3af5'>def</span>")
            newText = newText.replaceAll('step_impl', "<span style='color:#e5e571'>step_impl</span>")
            newText = newText.replace(/"(.*?)"/g, '<span style="color: #df8d23;">"$1"</span>')
            text.innerHTML = newText
        }
        {% endfor %}
        }

    </script>
</body>