<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input[type=text], select {
            width: 84%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        .lable{
            width: 20%;
        }
        .input{
            width: 80%;
        }
        button{
            background-color: #b91010;
            height: 28px;
            border-color: #b91010;
            border-radius: 2px;
            margin-right: 10px;
            color: white;
            font-size: 14px;
        }
        textarea{
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div style="width: 100%;background-color: antiquewhite;text-align: center;" class="header">
        <h1 style="margin-top: 0px;">
            Edit scenario
        </h1>
    </div>
    <div class="content">
        <table style="line-height: 50px;">
            <tr>
                <td class="lable">
                    <label style="font-size: 20px;" for="">Feature: &nbsp</label>
                </td>
                <td class="input">
                    <input id="feature" disabled type="text" value="{{feature}}">
                </td>
            </tr>
            <tr>
                <td class="lable">
                    <label style="font-size: 20px;" for="">Background: &nbsp</label>
                </td>
                <td class="input">
                    <textarea name="" id="background" cols="47" rows="4">{{listdata[0].background}}</textarea>
                </td>
            </tr>
            <tr>
                <td class="lable">
                    <label style="font-size: 20px;" for="">ScenarioOutline: &nbsp</label>
                </td>
                <td class="input">
                    <textarea name="" id="scenarioOutline" cols="47" rows="4">{{listdata[0].scenarioOutline}}</textarea>
                </td>
            </tr>
            <tr>
                <td class="lable">
                    <label style="font-size: 20px;" for="">Scenario: &nbsp</label>
                </td>
                <td class="input">
                    <textarea name="" id="scenario" cols="47" rows="4">{{listdata[0].scenario}}</textarea>
                </td>
            </tr>
            <tr>
                <td class="lable">
                    <label style="font-size: 20px;" for="">Given &nbsp</label>
                </td>
                <td class="input">
                    <textarea name="" id="given" cols="47" rows="4">{{listdata[0].given}}</textarea>
                </td>
            </tr>
            <tr>
                <td class="lable">
                    <label style="font-size: 20px;" for="">When &nbsp</label>
                </td>
                <td class="input">
                    <textarea name="" id="when" cols="47" rows="4">{{listdata[0].when}}</textarea>
                </td>
            </tr>
            <tr>
                <td class="lable">
                    <label style="font-size: 20px;" for="">Then &nbsp</label>
                </td>
                <td class="input">
                    <textarea name="" id="then" cols="47" rows="4">{{listdata[0].then}}</textarea>
                </td>
            </tr>
            <tr>
                <td class="lable">
                    <label style="font-size: 20px;" for="">Examples: &nbsp</label>
                </td>
                <td class="input">
                    <textarea name="" id="examples" cols="47" rows="4">{{listdata[0].examples}}</textarea>
                </td>
            </tr>
        </table>
        <div style="text-align: center;
        margin-top: 30px;">
            <button onclick="edit_scenario()">Update</button>
            <button>Clear</button>
        </div>
        
    </div>
</body>
<script>
    function edit_scenario(){
        var scenario = document.getElementById('scenario').value;
        var given = document.getElementById('given').value;
        var when = document.getElementById('when').value;
        var then = document.getElementById('then').value;
        var background = document.getElementById('background').value;
        var examples = document.getElementById('examples').value;
        var scenarioOutline = document.getElementById('scenarioOutline').value;
        var id = '{{listdata[0].id}}'
        var data = {"id":id, "scenario":scenario, "given":given, "when":when, "then":then, "background":background, "examples":examples, "scenarioOutline":scenarioOutline}
        fetch(`/edit-scenario`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
			body: JSON.stringify({ data })
        })
            .then(response => response.json())
            .then(data => {
                alert(data);
                window.opener.document.getElementById('scenario').innerHTML = scenario
                window.opener.document.getElementById('given').innerHTML = given
                window.opener.document.getElementById('when').innerHTML = when
                window.opener.document.getElementById('then').innerHTML = then
            })
        .catch(error => console.log(error));
    }
</script>
</html>