<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <title>Document</title>
    <style>
        body {
            font-family: Arial;
        }

        /* Style the tab */
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 10px 100px;
            transition: 0.3s;
            font-size: 24px;
            width: 100%;
            font-weight: bold;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }

        #componentList li {
            width: 250px;
            background-color: blanchedalmond;
            border: 2px solid indianred;
            height: 30px;
            padding-top: 5px;
            margin: 10px 0px;
        }

        .collapsible {
            background-color: #777;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

        .active,
        .collapsible:hover {
            background-color: #555;
        }

        .collapsible:after {
            content: '\002B';
            color: white;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

        .active:after {
            content: "\2212";
        }

        .content {
            padding: 0 18px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: #f1f1f1;
        }

        h1 {
            background: bisque;
            margin-top: 0px;
            padding-bottom: 1px;
            text-align: center;
            padding-top: 10px;
            border: 1px solid #cccccc;
        }

        li {
            background-color: bisque;
            padding: 10px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .contentScenario {
            width: 100%;
            height: 600px;
            background-color: black;
        }

        .contentScenario label {
            color: #f5a339;
            font-size: 20px;
        }

        .contentScenario span {
            color: white;
            font-size: 18px;
        }
        .back{
            background-color: #b91010;
            height: 28px;
            border-color: #b91010;
            border-radius: 2px;
            float: right;
            margin-right: 10px;
            color: white;
            font-size: 14px;
        }
        #scenario_div span{
            white-space: break-spaces;
        }

        li:hover {
            background-color: #555;
            color: white;
        }
    </style>
</head>

<body>
    <div style="width: auto;">
        <div style="width: 50%;float: left;">
            <h1>View scenario</h1>
            <button onclick="back()" class="back">Backtolist</button><br><br>
            <div class="leftPage" style="width: 100%;">
                <button class="collapsible">Item</button>
                <div class="content">
                    <ul style="list-style-type: none;text-shadow: 0 0.3px 0 black;">
                        {% for data in listdata %}
                            {%if data.isFlow == '0'%}
                                <li onclick="viewDetailscenario({{data.id}})">
                                    {{data.scenario}}
                                </li>
                            {%endif%}
                        {%endfor%}
                    </ul>
                </div>
                <button class="collapsible">Flow</button>
                <div class="content">
                    <ul style="list-style-type: none;text-shadow: 0 0.3px 0 black;">
                        {% for data in listdata %}
                        {%if data.isFlow == '1'%}
                            <li onclick="viewDetailscenario({{data.id}})">
                                {{data.scenario}}
                            </li>
                        {%endif%}
                    {%endfor%}
                    </ul>
                </div>
            </div>

        </div>
        <div style="width: 50%;float: right;">
            <div class="tab">
                <button class="tablinks">Detail scenario</button>
            </div>
            <div class="contentScenario" style="width: 100%;line-height: 30px;">
                <img onclick="edit_scenario(this)" class="icon_edit" id="" style="width: 4%;
                float: right;
                padding-right: 10px;
                padding-top: 10px;display: none;" src="https://cdn-icons-png.flaticon.com/512/2921/2921222.png" alt="">
                <input type="hidden" id="id_scenario">
                <div style="display: none;padding: 20px;" id="scenario_div">
                    <table>
                        <tr>
                            <td>
                                <label for="">Feature:</label>
                            </td>
                            <td>
                                <span id="feature"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="">Scenario:</label>
                            </td>
                            <td>
                                <span id="scenario"></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="float: right;">
                                <label for="">Given</label>
                            </td>
                            <td>
                                <span id="given"></span>
                            </td>
                        </tr>
                        <tr>
                            <td id="when_lable" style="float: right;">
                                <label for="">When</label>
                            </td>
                            <td>
                                <span id="when"></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="float: right;">
                                <label for="">Then</label>
                            </td>
                            <td>
                                <span id="then"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        function edit_scenario(){
            var id = document.getElementById('id_scenario').value;
            window.open("/edit-scenario?id="+id+"&feature={{feature[0].name}}","","scrollbars=1,resizable=1,dependent=yes,width=600,height=900");
        }
        function back(){ 
            window.location.href = "/list-scenario"
        };
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
        var whenLableOld
        function viewDetailscenario(id) {
            {% for data in listdata %}
                if(id == {{data.id}}) {
                    var countAndWhen = 1
                    var whenLable = document.getElementById('when_lable')
                    while(whenLable.children.length != 1) {
                        whenLable.removeChild(whenLable.lastChild);
                    }
                    document.getElementById('feature').textContent = "{{feature[0].name}}"
                    document.getElementById('scenario').textContent = "{{data.scenario}}"
                    document.getElementById('given').textContent = "{{data.given|safe}}"
                    var separateLines = `{{data.when|safe}}`.split(/\r?\n|\r|\n/g);
                    if (separateLines[separateLines.length -1] == '') {
                        countAndWhen = separateLines.length -1
                    } else countAndWhen = separateLines.length
                    for (let index = 1; index < countAndWhen; index++) {
                        when_lable.appendChild(document.createElement('br'))
                        var andLable = document.createElement('lable')
                        andLable.textContent = 'And'
                        andLable.style.color = '#f5a339'
                        andLable.style.fontSize = '20px'
                        andLable.style.float = 'right'
                        whenLable.appendChild(andLable)
                    }
                    document.getElementById('when').textContent = `{{data.when|safe}}`
                    document.getElementById('then').textContent = `{{data.then|safe}}`
                    document.getElementById('scenario_div').style.display = 'block'
                    document.getElementById('scenario_div').style.display = 'block'
                    document.getElementById('id_scenario').value = '{{data.id}}'
                    document.getElementsByClassName('icon_edit')[0].style.display = 'block'
                }
            {%endfor%}
        }
    </script>
</body>