<!DOCTYPE html>
<html>

<head>
	<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
	<link href="./css/main.css" rel="stylesheet" />
	<title>Document</title>
	<style>
		body {
			font-family: Arial;
		}

		/* Style the tab */
		.tab {
			overflow: hidden;
			border: 1px solid #ccc;
			background-color: #f1f1f1;
		}

		/* Style the buttons inside the tab */
		.tab button {
			background-color: inherit;
			float: left;
			border: none;
			outline: none;
			cursor: pointer;
			padding: 14px 100px;
			transition: 0.3s;
			font-size: 17px;
			width: 50%;
		}

		/* Change background color of buttons on hover */
		.tab button:hover {
			background-color: #ddd;
		}

		/* Create an active/current tablink class */
		.tab button.active {
			background-color: #ccc;
		}

		/* Style the tab content */
		.tabcontent {
			display: none;
			padding: 6px 12px;
			border: 1px solid #ccc;
			border-top: none;
		}

		#componentList li {
			width: 250px;
			background-color: blanchedalmond;
			border: 2px solid indianred;
			padding-top: 5px;
			margin: 10px 0px;
			line-height: 24px;
		}

		#componentList li span {
			display: block;
		}

		#frame {
			zoom: 1.8;
			-moz-transform: scale(0.75);
			-moz-transform-origin: 0 0;
		}

		h1 {
			background: bisque;
			margin-top: 0px;
			padding-bottom: 1px;
			text-align: center;
			padding-top: 10px;
			border: 1px solid #cccccc;
		}

		#viewItem span {
			display: block;
			line-height: 25px;
		}

		.stt {
			background-color: aqua;
			width: 40px;
			text-align: center;
			font-family: cursive;
			font-size: 22px;
			padding: 5px;
			border-radius: 8px;
			border: 2px solid;
			float: left;
		}

		.div_element {
			border-bottom: 2px solid;
		}

		#input_scenario{
			display: block;
    		margin-left: 65px;
    		width: 383px;
    		margin-bottom: 16px;
		}

		.element_item input {
			padding: 10px;
			margin-left: 10px;
		}

		.element_item select {
			padding: 10px;
			margin-left: 10px;
		}

		.element_item {
			padding-inline-start: 0px !important;
		}

		.element_item li {
			padding-bottom: 10px;
			border-bottom: 2px solid;
			padding-top: 10px;
			width: 100%;
		}

		.element_item li select {
			width: 10%;
		}

		.input_name {
			width: 12%;
		}

		.input_condition {
			width: 24%;
		}

		.message_err {
			width: 24%;
		}

		.input_then{
			display: block;
			margin-left: 64px;
			margin-top: 20px;
			width: 383px;
		}

		.save {
			background-color: #f1f1f1;
			height: 28px;
			border-color: #f1f1f1;
			border-radius: 2px;
			float: right;
			margin-right: 10px;
			color: black;
			font-size: 14px;
		}

		.back {
			background-color: #b91010;
			height: 28px;
			border-color: #b91010;
			border-radius: 2px;
			float: right;
			margin-right: 10px;
			color: white;
			font-size: 14px;
		}

		img {
			width: 3%;
			float: right;
			margin-right: 10px;
		}

		#selectbox_screen {
			padding: 10px 0px;
			margin: 0;
			text-align: center;
		}

		#selectbox_screen button {
			background-color: #b91010;
			height: 28px;
			border-color: #b91010;
			border-radius: 2px;
			color: white;
		}

		#selectbox_screen select {
			padding: 5px;
		}

		#selectbox_screen_detail select {
			padding: 5px;
		}
		.tablinkitem {
			background-color: #555;
			color: white;
			float: left;
			border: none;
			outline: none;
			cursor: pointer;
			padding: 12px 16px;
			font-size: 17px;
			width: 9%;
		}
		#scenario {
			display: block;
    		width: 50%;
    		margin-left: 66px;
		}
	</style>
	<script>
		var tabFlow = 0;
		function openCity(evt, cityName) {
			var i, tabcontent, tablinks;
			tabcontent = document.getElementsByClassName("tabcontent");
			for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			}
			tablinks = document.getElementsByClassName("tablinks");
			for (i = 0; i < tablinks.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(" active", "");
			}
			document.getElementById(cityName).style.display = "block";
			evt.currentTarget.className += " active";
		}

		function openPage(pageName,elmnt,color) {
			var i, tabcontent, tablinks;
			tabcontent = document.getElementsByClassName("tabcontentitem");
			for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			}
			tablinks = document.getElementsByClassName("tablinkitem");
			for (i = 0; i < tablinks.length; i++) {
				tablinks[i].style.backgroundColor = "";
			}
			document.getElementById(pageName).style.display = "block";
			elmnt.style.backgroundColor = color;
			if(pageName == 'flow') {
				tabFlow = 1
			} else {
				tabFlow = 0
			}
			
		}

	</script>
</head>

<body onload="reload_data_figma(), openCity(event, 'layout')">
	<div style="width: auto;">
		<div style="width: 60%;float: left;">
			<h1>Create Basic Design</h1>
			<div id="viewItem">
				<h3 style="display: inline;" id="name_screen">{% if basicDesign %}Screen name:{{basicDesign[0].name}}{%
					endif %}</h3>
				<button onclick="back()" class="back">Backtolist</button>
				<button onclick="create_basic_design()" disabled id="save" class="save">Save</button>
				{% if basicDesign %}
				<select style="float: right;padding: 5px;margin-right: 10px;" id="status">
					<option {% if basicDesign[0].status=='Creating' %} selected {% endif %} value="Creating">Creating</option>
					<option {% if basicDesign[0].status=='Completed creation and is requesting review' %} selected {% endif %} value="Completed creation and is requesting review">Completed creation and is requesting review</option>
				</select>
				<span hidden style="clear: both;"></span>
				<input type="hidden" id="count_item" value="{{listdata|length}}">
				<input type="hidden" id="basic_design_id" value="{{basicDesign[0].id}}">
				<input type="hidden" id="version" value="{{basicDesign[0].version}}">
				{% else %}
				<select style="float: right;padding: 5px;margin-right: 10px;" id="status">
					<option value="Creating">Creating</option>
					<option value="Completed creation and is requesting review">Completed creation and is requesting review</option>
				</select>
				<span hidden style="clear: both;"></span>
				<input type="hidden" id="count_item" value="">
				<input type="hidden" id="basic_design_id" value="">
				<input type="hidden" id="version" value="">
				{% endif %}

				<button class="tablinkitem" id="defaultOpen" onclick="openPage('item', this, '#b91010')">Item</button>
				<button class="tablinkitem" onclick="openPage('flow', this, '#b91010')">Flow</button>

				<div style="clear: both;" id="item" class="tabcontentitem">
					<ul style="list-style-type: none;" class="element_item" id="element_item">
						{% for data in listdata %}
						<li class="draggable" draggable="true" id="li_{{data.sequence}}">
							<span class="stt">{{data.sequence}}</span>
							<input type="text" class="input_name" value="{{data.name}}">
							<select style="margin-left: 6px;">
								<option {% if data.type=='TEXTBOX' %} selected {% endif %} value="TEXTBOX">TEXTBOX</option>
								<option {% if data.type=='BUTTON' %} selected {% endif %} value="BUTTON">BUTTON</option>
								<option {% if data.type=='PASSWORD' %} selected {% endif %} value="PASSWORD">PASSWORD
								</option>
								<option {% if data.type=='CHECKBOX' %} selected {% endif %} value="CHECKBOX">CHECKBOX
								</option>
							</select>
							<select style="margin-left: 6px;">
								<option {% if data.operation=='' %} selected {% endif %} value=""></option>
								<option {% if data.operation=='DISPLAY' %} selected {% endif %} value="DISPLAY">DISPLAY</option>
								<option {% if data.operation=='TEXT INPUT' %} selected {% endif %} value="TEXT INPUT">TEXT INPUT
								</option>
								<option {% if data.operation=='TAP' %} selected {% endif %} value="TAP">TAP
								<option {% if data.operation=='SWIPE' %} selected {% endif %} value="SWIPE">SWIPE
								</option>
							</select>
							<input style="margin-left: 6px;" placeholder="Please enter the item display value if any" type="text"
								class="message_err" value="{{data.message}}">
							<input style="margin-left: 5px;" placeholder="Please enter the item placeholder if any" type="text"
								class="input_condition" value="{{data.condition}}">
							<input type="hidden" value="{{data.sequence}}">
							<img onclick="deleteElement({{data.sequence}})"
								src="https://cdn-icons-png.flaticon.com/512/6861/6861362.png" alt="">
						</li>
						{% endfor %}
					</ul>
				</div>
				<div style="clear: both;" id="flow" class="tabcontentitem">
					<button style="background-color: rgb(185, 16, 16);
					border-color: rgb(185, 16, 16);
					color: white;
					height: 28px;
					border-radius: 2px;
					margin-top: 16px;" onclick="change_status_flow()">Doneflow</button>
					<ul style="list-style-type: none;" class="element_item" id="element_flow">

					</ul>
					
				</div>
				<input type="hidden" value="" id="id_screen">
			</div>
		</div>
		<div style="width: 40%;float: right;">
			<div class="tab">
				<button class="tablinks" onclick="openCity(event, 'item')">List Item</button>
				<button class="tablinks" onclick="openCity(event, 'layout')">Layout</button>
			</div>
			<div id="item" class="tabcontent">
				<div>
					<select onchange="get_detail_item()" style="padding: 5px;" name="" id="selectbox_screen_detail">
						<option value=""></option>
					</select>
				</div>
				<ul style="list-style-type: none;" id="componentList">
				</ul>
				<button onclick="reload_data_figma(1, this.id)"
					style="width: 70px;height: 30px;background-color: bisque;" id="update">Update</button>
			</div>
			<div id="layout" class="tabcontent">
				<h3 style="margin-bottom: 0px;">Layout</h3>
				<div id="selectbox_screen">
					<button onclick="create_all_item()">Create all item</button>
				</div>
				<!-- <iframe id="frame" style="border: 1px solid rgba(0, 0, 0, 0.1);" width="360" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2Fcyc4z0DdNgwiQzCWaLijD1%2Ftest%3Fembed_host%3Dshare%26kind%3D%26node-id%3D1%253A2%26scaling%3Dscale-down" allowfullscreen></iframe> -->
				<iframe style="width: 100%;" id="frame" style="border: 1px solid rgba(0, 0, 0, 0.1);" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FucNmpF04EJYQ8KbhWG01Fq%2Fdemo_new%3Fnode-id%3D1-2%26scaling%3Dscale-down%26page-id%3D0%253A1" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<script>
		var sttElement = 0;
		var indexElement = 0;
		var sttElementFlow = 0;
		var checkStatusFlow = 0;
		var checkStatusFlowOld = 0;
		var listScreen = [];

		function change_status_flow() {
			var listResult = document.getElementsByClassName('input_then');
			if(listResult.length == 0) {
				alert('Please enter the flow result')
				return
			}
			for (let i = 0; i < listResult.length; i++) {
				if(listResult[i].value == ''){
					alert('Please enter the flow result')
					listResult[i].focus();
					return;
				}
			}
			checkStatusFlow = 0
			checkStatusFlowOld = 0
		}

		function get_detail_item() {
			const select_content = document.getElementById('selectbox_screen_detail').value;
			const componentList = document.getElementById('componentList');
			// const listElement = document.querySelector("#componentList")
			while (componentList.firstChild) {
				componentList.removeChild(componentList.firstChild)
			}
			listScreen.forEach(element => {
				if (select_content == element.name) {
					element.listItem.forEach(element => {
						const element_item = document.createElement('li');

						const id = document.createElement('span');
						id.textContent = `ID: ${element.id}`;
						element_item.appendChild(id);
						componentList.appendChild(element_item)

						const name = document.createElement('span');
						name.textContent = `Name: ${element.name}`;
						element_item.appendChild(name);
						componentList.appendChild(element_item)

						const type = document.createElement('span');
						type.textContent = `Type: ${element.type}`;
						element_item.appendChild(type);
						componentList.appendChild(element_item)
					});
				}
			});
		}

		function reload_data_figma(flg, id) {
			const fileKey = 'ucNmpF04EJYQ8KbhWG01Fq';
			const accessToken = 'figd_tpIldcNILSLrMf3cK1ksLdY9Rq0F1NwPYoh2N51j';
			const li_remove = document.getElementsByClassName("li");
			const h4_remove = document.getElementsByClassName("h4");
			if (flg == 1) { while (li_remove.length > 0) li_remove[0].remove() };
			if (flg == 1) { while (h4_remove.length > 0) h4_remove[0].remove() };
			enable_button()
			fetch(`https://api.figma.com/v1/files/${fileKey}`, {
				headers: {
					'X-Figma-Token': accessToken
				}
			})
				.then(response => response.json())
				.then(data => {
					listScreen = [];
					const components = data.document.children[0].children;
					const componentList = document.getElementById('componentList');

					for (let i = 0; i < components.length; i++) {
						const screen = components[i];
						if (!screen.name.includes("Frame")) {
							const component = screen.children;
							var listItem = []
							for (let i = 0; i < component.length; i++) {
								var nameItem = { "name": component[i].name, "type": component[i].type, "id": component[i].id }
								listItem.push(nameItem)
							}
							var frame = { "name": screen.name, "id": screen.id, listItem }
							listScreen.push(frame);
						}
					}
					if (id != 'update') {
						const select_layout = document.getElementById('selectbox_screen');
						const select_content = document.getElementById('selectbox_screen_detail');
						const selectScreen = document.createElement('select');
						listScreen.forEach((screen) => {
							selectScreen.appendChild(new Option(screen.name, screen.name));
							select_content.appendChild(new Option(screen.name, screen.name));
						})
						// select.appendChild(selectScreen);
						select_layout.insertBefore(selectScreen, select_layout.firstChild);
					} else {
						get_detail_item()
					}
				})
				.catch(error => console.log(error));
		};

		function back() { window.location.href = "/list-design"; };

		function create_basic_design() {
			// get name screen
			var idScreen = document.getElementById("id_screen").value;
			var nameScreen = listScreen.filter(x => x.id === idScreen).map(x => x.name)[0];
			var status = document.getElementById('status').value;
			var version = document.getElementById('version').value;
			var basicDesignId = '';
			if (document.getElementById('basic_design_id') != undefined) basicDesignId = document.getElementById('basic_design_id').value;

			// get data in item
			var elements = document.getElementsByClassName("element_item");
			if(elements.length > 0) {
				elements = elements[0].children;
			}
			// get data in flow
			var elementFlow = document.querySelectorAll("#element_flow");
			if(elementFlow.length > 0) {
				elementFlow = elementFlow[0].children;
			}

			var listData = [{ "name": nameScreen, "status": status, "basicDesignId": basicDesignId, "version": version, "createUser": "{{session['userName']}}" }];
			var listItemFlow = []
			var listItem = []

				var listResult = document.getElementsByClassName('input_then');
				var listFlowName = document.getElementsByClassName('input_scenario');
				for (let i = 0; i < listFlowName.length; i++) {
					if(listFlowName[i].value == ''){
						alert('Please enter the flow name')
						listFlowName[i].focus();
						return;
					}
				}
				if(listFlowName.length > 0 && listResult.length == 0) {
					alert('Please enter the flow result')
					return
				}

				for (let i = 0; i < listResult.length; i++) {
				if(listResult[i].value == ''){
					alert('Please enter the flow result')
					listResult[i].focus();
					return;
				}
				}



			for (let i = 0; i < elementFlow.length; i++) {
				var element = {
					"flowName":elementFlow[i].children[1].value?elementFlow[i].children[1].value:'',
					"name": elementFlow[i].children[2].value,
					"type": elementFlow[i].children[3].value,
					"operation": elementFlow[i].children[4].value,
					"condition": elementFlow[i].children[5].value,
					"sequence": elementFlow[i].children[6].value,
					"result": elementFlow[i].children.length>8?elementFlow[i].children[8].value==undefined?'':elementFlow[i].children[8].value:''
				}
				listItemFlow.push(element);
			}

			for (let i = 0; i < elements.length; i++) {
				var element = {
					"name": elements[i].children[1].value,
					"type": elements[i].children[2].value,
					"operation": elements[i].children[3].value,
					"condition": elements[i].children[5].value,
					"message": elements[i].children[4].value,
					"sequence": elements[i].children[6].value
				}
				listItem.push(element);
			}

			listData.push(listItem)
			listData.push(listItemFlow)

			fetch('/create-items-basic-design', {
				method: 'POST',
				headers: { 'Content-Type': 'application/json' },
				body: JSON.stringify({ data: listData })
			})
				.then(response => response.json())
				.then(data => {
					alert(data);
					window.location.href = "/create-items-basic-design";
				})
				.catch(error => console.error(error));
		}
		var idScreenOld = 0;
		window.addEventListener('message', event => {
			const data = event.data;

			if (event.origin !== "https://www.figma.com") {
				return;
			}

			if (data.type !== "MOUSE_PRESS_OR_RELEASE") {
				return;
			}

			const idScreenNew = data.data.nearestScrollingFrameId;

			if (idScreenNew == null) return;

			if (idScreenOld == 0) {
				idScreenOld = idScreenNew;
				document.getElementById('id_screen').value = idScreenOld;
			} else if (idScreenOld != idScreenNew) {
				var nameScreen = get_name_screen(idScreenOld);
				alert(`Since you are designing for the "${nameScreen}" screen\nplease select only the items on this "${nameScreen}" screen`)
				return;
			}

			const fileKey = 'ucNmpF04EJYQ8KbhWG01Fq';
			var nodeId = data.data.targetNodeId;
			const token = 'figd_tpIldcNILSLrMf3cK1ksLdY9Rq0F1NwPYoh2N51j';
			var url = `https://api.figma.com/v1/files/${fileKey}/nodes?ids=${nodeId}`;

			fetch(url, {
				method: 'GET',
				headers: { 'X-Figma-Token': token },
			})
				.then(response => response.json())
				.then(data => {
					var nameScreen = get_name_screen(idScreenNew)
					var detailItem = data.nodes[nodeId].document;
					if ('style' in detailItem && 'hyperlink' in detailItem.style) {
						var hyperlink = detailItem.style.hyperlink.nodeID;
						if (hyperlink) {
							var checkElement = document.getElementsByClassName("element_item")[0].children;
							// if (checkElement.length > 0) {return;}
							var testConfirm = `The button you just clicked on the link with "${nameScreen}"" screen\n Do you want to create a design for the "${nameScreen}" screen?`
							if (checkElement.length == 0 && confirm(testConfirm) == true) {
								nameScreen = get_name_screen(hyperlink)
								idScreenOld = 0;
								return;
							}
						}
					}
					document.querySelector('#name_screen').textContent = "Screen name:" + nameScreen;
					createElement(detailItem);

				})
				.catch(error => console.error(error));

		});

		function createElement(detailItem) {
			var viewItem = document.getElementById('element_item');
			var viewFlow = document.getElementById('element_flow');
			if (sttElement == 0 && viewItem.children.length > 0) {
				sttElement = document.getElementById('count_item').value;
			}
			
			indexElement++;
			const index = indexElement;
			//create element div
			//const div = document.createElement('div');
			//div.classList.add("div_element");
			const element_item = document.createElement('li');
			element_item.setAttribute("id", "li_" + indexElement)

			//create element span 
			const stt = document.createElement('span');
			stt.classList.add("stt");
			const inputName = document.createElement('input');
			const inputscenario = document.createElement('input');
			if(tabFlow == 1) {
				if (viewFlow.children.length == 0) {
					checkStatusFlow = 0
					sttElementFlow = 0
				}
				if(checkStatusFlow == 0) {
					sttElementFlow++;
					const stt = document.createElement('span');
					stt.classList.add("stt");
					stt.textContent = sttElementFlow;
					element_item.appendChild(stt);
					checkStatusFlow = 1

					inputscenario.setAttribute("type", "text");
					inputscenario.setAttribute("id", "input_scenario");
					inputscenario.placeholder = "Please enter the flow name"
					inputscenario.classList.add("input_scenario");
					inputscenario.required = true;
				} else{
					inputscenario.setAttribute("type", "hidden");
					const stt = document.createElement('span');
					stt.classList.add("stt");
					stt.textContent = sttElementFlow;
					stt.style.display = 'none';
					element_item.appendChild(stt);
				}
				inputName.style.marginLeft = "64px";
				element_item.appendChild(inputscenario);
			} else {
				element_item.setAttribute('draggable', true);
				element_item.classList.add("draggable");
				sttElement++;
				const stt = document.createElement('span');
				stt.classList.add("stt");
				stt.textContent = sttElement;
				element_item.appendChild(stt);
			}

			inputName.setAttribute("type", "text");
			inputName.classList.add("input_name");
			inputName.name = "input_name";
			inputName.value = `${detailItem.name}`;
			element_item.appendChild(inputName);

			//create element selectbox type item
			const selectTypeItem = document.createElement('select');
			selectTypeItem.appendChild(new Option("TEXTBOX", "TEXTBOX"));
			selectTypeItem.appendChild(new Option("TEXT", "TEXT"));
			selectTypeItem.appendChild(new Option("BUTTON", "BUTTON"));
			selectTypeItem.appendChild(new Option("PASSWORD", "PASSWORD"));
			selectTypeItem.appendChild(new Option("CHECKBOX", "CHECKBOX"));
			if(detailItem.name.includes("Button")) {
				selectTypeItem.value = "BUTTON";
			} else if(detailItem.name.includes("Text")){
				selectTypeItem.value = "TEXT";
			}
			element_item.appendChild(selectTypeItem);

			//create element selectbox type item
			const selectOperationItem = document.createElement('select');
			selectOperationItem.appendChild(new Option("DISPLAY", "DISPLAY"));
			selectOperationItem.appendChild(new Option("TEXT INPUT", "TEXT INPUT"));
			selectOperationItem.appendChild(new Option("TAP", "TAP"));
			selectOperationItem.appendChild(new Option("SWIPE", "SWIPE"));
			selectOperationItem.addEventListener('change', () => { changePlaceholderOperation(index) }, false)
			element_item.appendChild(selectOperationItem);

			//create element input condition item item
			const inputCondition = document.createElement('input');
			inputCondition.setAttribute("type", "text");
			inputCondition.classList.add("input_condition");
			tabFlow==1?inputCondition.placeholder = "Please enter the item value":inputCondition.placeholder = "Please enter the item placeholder if any"
			inputCondition.name = "input_condition"
			

			const sequence = document.createElement('input');
			sequence.setAttribute("type", "hidden");
			
			if(tabFlow == 1){
				sequence.value = sttElementFlow;
			} else {
				//create element input message error
				const inputMessageErr = document.createElement('input');
				inputMessageErr.setAttribute("type", "text");
				inputMessageErr.classList.add("message_err");
				inputMessageErr.placeholder = "Please enter the item display value if any"
				inputMessageErr.name = "message_err"
				element_item.appendChild(inputMessageErr);
				sequence.value = sttElement
			}
			element_item.appendChild(inputCondition);
			element_item.appendChild(sequence);

			const oImg = document.createElement("img");
			oImg.setAttribute('src', 'https://cdn-icons-png.flaticon.com/512/6861/6861362.png');
			oImg.addEventListener('click', () => { deleteElement(index) }, false)

			if(tabFlow == 1){
				if(checkStatusFlowOld == 0 && sttElementFlow != 1) {
					checkStatusFlowOld = 1
					element_item.style.borderTop = "2px solid black";
					element_item.style.borderBottom = "none";
				} else {
					element_item.style.border = "none";
				}
				oImg.style.float = 'none'
				oImg.style.margin = '-11px 9px'
				var elementAddThen = document.getElementById('delete_add_then');
				if(elementAddThen) {
					elementAddThen.remove()
				}
				const oImgAddThen = document.createElement("img");
				oImgAddThen.setAttribute('src', 'https://cdn-icons-png.flaticon.com/512/2997/2997933.png');
				oImgAddThen.setAttribute('id', 'delete_add_then');
				oImgAddThen.style.float = 'none'
				oImgAddThen.style.margin = '-11px 0px'
				oImgAddThen.addEventListener('click', () => { addElementThen(index) }, false)
				element_item.appendChild(oImg);
				element_item.appendChild(oImgAddThen);
				addEventsDragAndDrop(element_item);
				viewFlow.appendChild(element_item);
			} else {
				element_item.appendChild(oImg);
				addEventsDragAndDrop(element_item);
				viewItem.appendChild(element_item);
			}
			
			document.getElementById('save').disabled = false;
			document.getElementById('save').style.backgroundColor = "#b91010";
			document.getElementById('save').style.borderColor = "#b91010";
			document.getElementById('save').style.color = "white"
		}

		var remove = document.querySelector('.draggable');
		var draggedItem = null;
		function dragStart(e) {
			draggedItem = e.target;
		};

		function dragOver(e) {
			e.preventDefault();
			var dropTarget = e.target;

			if (dropTarget.nodeName === 'LI') {
				var dropTargetIndex = indexInParent(dropTarget);
				var draggedItemIndex = indexInParent(draggedItem);

				if (draggedItemIndex < dropTargetIndex) {
					dropTarget.parentNode.insertBefore(draggedItem, dropTarget.nextSibling);
				} else {
					dropTarget.parentNode.insertBefore(draggedItem, dropTarget);
				}
			}

			removeClass('over');

			var elements = document.querySelectorAll("#element_item li");
			var i = 1;
			elements.forEach((item) => {
				const span = item.querySelector('span');
				const input = item.querySelectorAll("input");
				input[3].value = i
				span.textContent = i
				i++;
			});
			sttElement = i - 1;
		}

		function removeClass(className) {
			var elements = document.querySelectorAll('.' + className);
			for (var i = 0; i < elements.length; i++) {
				elements[i].classList.remove(className);
			}
		}

		function indexInParent(node) {
			var children = node.parentNode.childNodes;
			var num = 0;
			for (var i = 0; i < children.length; i++) {
				if (children[i] == node) return num;
				if (children[i].nodeType == 1) num++;
			}
			return -1;
		}

		function dragDrop(e) {
			e.preventDefault();
			var dropTarget = e.target;
			var list = dropTarget.parentNode;

			if (draggedItem !== dropTarget) {
				list.insertBefore(draggedItem, list.firstChild)
			}
			return false;
		}
		function addEventsDragAndDrop(el) {
			el.addEventListener('dragstart', dragStart, false);
			el.addEventListener('dragover', dragOver, false);
			el.addEventListener('drop', dragDrop, false);
		}

		var listItens = document.querySelectorAll('.draggable');
		[].forEach.call(listItens, function (item) {
			addEventsDragAndDrop(item);
		});

		function get_name_screen(id) {
			return listScreen.filter(x => x.id === id).map(x => x.name)[0];
		}

		function create_all_item() {
			var elements = document.querySelectorAll("#element_item li");
			if (elements.length != 0) {
				alert('Please delete all created items before creating all')
				return;
			}
			var selected = document.querySelector("#selectbox_screen select").value;
			listScreen.forEach((screen) => {
				if (selected == screen.name) {
					document.getElementById('id_screen').value = screen.id
					document.querySelector('#name_screen').textContent = "Screen name:" + screen.name;
					sttElement = 0;
					indexElement = 0;
					screen.listItem.forEach((item) => {
						createElement(item);
					});
				}
			});
		}

		function enable_button() {
			var checkElement = document.getElementsByClassName("element_item")[0].children;
			if (checkElement.length > 0) {
				document.getElementById('save').disabled = false;
				document.getElementById('save').style.backgroundColor = "#b91010";
				document.getElementById('save').style.borderColor = "#b91010";
				document.getElementById('save').style.color = "white"
			}
		}

		function addElementThen(stt) {
			var li = document.getElementById('li_' + stt);
			const then = document.createElement('input');
			then.setAttribute("type", "text");
			then.classList.add("input_then");
			then.style.marginLeft = "64px";
			then.placeholder = "Please enter the flow result"
			then.name = "input_then"
			then.required = true;
			li.appendChild(then);

			var elementAddThen = document.getElementById('delete_add_then');
			if(elementAddThen) {
				elementAddThen.remove()
			}
		}

		function deleteElement(stt) {
			var li = document.getElementById('li_' + stt);
			li.remove();
			var elements = document.querySelectorAll("#element_item li");
			var i = 1;
			elements.forEach((item) => {
				const span = item.querySelector('span');
				const input = item.querySelectorAll("input");
				input[3].value = i
				span.textContent = i
				i++;
			});
			sttElement = i - 1;

			if (tabFlow == 1) {
				var elementFlow = document.querySelectorAll("#element_flow li");
				var stt = elementFlow[0].getElementsByTagName('span')[0]
				stt.style.display = 'block'
				if (elementFlow[0].getElementsByClassName('input_scenario')[0]) return
				elementFlow[0].getElementsByClassName('stt')[0].parentNode.removeChild(elementFlow[0].getElementsByClassName('stt')[0])
				// elementFlow[0].getElementsByTagName('span')[0].style.display = 'block'
			
				inputscenario = document.createElement('input')
				inputscenario.setAttribute("type", "text");
				inputscenario.setAttribute("id", "input_scenario");
				inputscenario.placeholder = "Please enter the flow name"
				inputscenario.classList.add("input_scenario");
				elementFlow[0].insertBefore(inputscenario, elementFlow[0].firstChild)
				elementFlow[0].insertBefore(stt, elementFlow[0].firstChild)
			}
		}
		document.getElementById("defaultOpen").click();

		function changePlaceholderOperation(id) {
			var li = document.getElementById('li_' + id);
			if(li.getElementsByTagName('select')[1].value == "TAP") {
				li.getElementsByTagName('input')[1].placeholder = 'Please enter destination screen'
				li.getElementsByTagName('input')[2].placeholder = 'Please enter description if any'
			}
		}
	</script>
</body>